<launch>
  <!-- Укажи модель TurtleBot3 -->
  <arg name="model" default="burger"/>
  <env name="TURTLEBOT3_MODEL" value="$(arg model)" />

  <!-- Запуск Gazebo с нужным файлом мира -->
  <arg name="world_path" default="/home/randolife/catkin_ws/src/ros-lidar-examples/worlds/turtlebot3_wall.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_path)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
